#title{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Asap', sans-serif;
    font-size: 30px;
    /* border: solid red 5px; */
    width: 100%;
    text-align: center;
    margin: auto;
    color: #383838;
}

body{
    background-color: #E8E8E8;
}

#intro{
    font-size: 20px;
    margin-top: 0%;
}

#image {
    display: block;
    margin: auto;
    max-width: 50%;
    max-height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

#img-div{
    /* border: solid green 3px; */
    background-color: white;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5pX;
    padding-bottom: 15px;
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
}

#img-caption{
    font-family: 'Asap', sans-serif;

    color: #4d4d4d;
}

#tribute-info{
    font-family: 'Asap', sans-serif;
   
} 

#career{
    text-align: justify;
    max-width: 70%;
    max-height: auto;
    margin: auto;
    margin-top: 80px;
    background-color: #F4F4F2;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    color: rgb(47, 48, 47);
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
}

ul{
    text-align: left;
}

#recog{
    text-align: justify;
    max-width: 70%;
    max-height: auto;
    margin: auto;
    margin-top: 80px;
    background-color: #F4F4F2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    color: rgb(47, 48, 47);
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
}

#personal{
    text-align: justify;
    max-width: 70%;
    max-height: auto;
    margin: auto;
    margin-top: 80px;
    background-color: #F4F4F2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    color: rgb(47, 48, 47);
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
}

#death{
    text-align: justify;
    max-width: 70%;
    max-height: auto;
    margin: auto;
    margin-top: 80px;
    background-color: #F4F4F2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    color: rgb(47, 48, 47);
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.3);
}

#links{
    font-family: 'Asap', sans-serif;
    text-align: left;
    max-width: 70%;
    max-height: auto;
    margin-left: 10%;
    margin-top: 80px;
    padding: 0px;
}

a:link {
    color: rgb(46, 111, 252);
}

a:visited {
    color: rgb(46, 111, 252);
}
  
